body {
		background-color: #361d07;
		background-image: url(image/background2.jpg);
		background-repeat: repeat-y;
		background-position: center 0;
		padding: 0px;
		margin: 0px;
		}
button{
		background-color: white;
		border: 1px white solid;
		float: right;
		}
#div1{
		height: 50px;
		background-image: url(image/background3.jpg);
		background-repeat: repeat-x;
		margin: 0px;
		}
#div3{
		background-color: white;
		width: 980px;
		margin: 0 auto;
		padding: 0px;
		}
#left{
		float: left;
		}
#div51{
		border-bottom: 2px #CCCCCC solid;
		margin: 10px 10px;
		}
#right{
		float: right; 
		}
#div6{
		clear:both;
		}
#div7{
		clear:both;
		}
#div8{
		clear: both;
		float: left;
		}
#bd1lfimg{
		position:relative;
		width:980px;
		height:400px;
		overflow:hidden;
		}
#bd1lfimg div{
		width:100000px;
		margin-left:976px;
		}
#bd1lfimg dl{
		width:980px;
		height:400px;
		position:relative;
		overflow:hidden;
		float:left;
		}
#bd1lfimg dt{
		width:980px;
		height:400px;
		position:absolute;
		left:0px;
		top:0px;
		}
#bd1lfimg dd{
		width:940px;
		height:80px;
		background:#000000;
		filter:alpha(Opacity=70);
		Opacity:0.7;
		position:absolute;
		left:0px;
		bottom:0px;
		padding:0 20px;
		}
#bd1lfimg dd h2{
		height:15px;
		padding:15px 0 8px 0;
		line-height:15px;
		overflow:hidden;
		color:white;
		}
#bd1lfimg dd tt{
		color:#dddddd;
		line-height:1.2em;
		}
p1{
		font-family: Algerian;
		font-size: 2em;
		color: white;
		position: relative;
		left: 10px;
		top: -12px;
		}
p3{
		font-family: Georgia, serif;
		font-size: 1.5em;
		color: white;
		font-style: italic;
		position: relative;
		left: 100px;
		top: -12px;
		}
p4 {
		font-size: 1.5em;
		color: #AA0000;
		margin: 10px;
		}
p5{
		font-family: Georgia, serif;
		font-size: 1.5em;
		margin: 10px;
		}
		
.buttons{
		width: 150px;
		height: 100px;
		}
.buttons_1{
        width:60px;
		height:30px;
}
.logo {
		width: 162px;
		height: 54px;
		}
.img4{
		width: 40px;
		height: 170.333px;
		}
.img5{
		width: 900px;
		height: 40px;
		}
.img51{
		width: 980px;
		height: 40px;
		}
*{
		margin:0;	
		padding:0;
		}
.sub_box{
		width: 980px;
		height: 400px;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		border: 1px solid #ccc;
		padding: 0;
		}
.sub_box img{
		width: 980px;
		height:400px;
		margin: 0;	
		padding: 0;
		}
.sub_nav{
		width:980px;
		height:25px;
		bottom:0px;
		position:absolute;
		color:#999999;
		z-index:200;
		}
.sub_no{
		height:25px;
		float:right;
		}
.sub_no li{
		display:block;
		width:25px;
		height:25px;
		float:left;
		overflow:hidden;
		line-height:25px;
		vertical-align:middle;
		text-align:center;
		background:#000000;
		filter:alpha(Opacity=70);
		Opacity:0.7;
		font-family:Arial;
		font-size:11px;
		color:#999999;
		cursor:pointer;
		}
.sub_no li.show{
		background:#ffffff;
		color:#000000;
		}