body {
		background-color: #361d07;
		background-image: url(image/background2.jpg);
		background-repeat: repeat-y;
		background-position: center 0;
		padding: 0px;
		margin: 0px;
		}
#div1{
		height: 50px;
		background-image: url(image/background3.jpg);
		background-repeat: repeat-x;
		margin: 0px;
		}
#div2{		
		background-position:center;
		width: 980px;
		height: 302px;
		margin: 0px auto;
		}
*{
		margin: 0;
		padding: 0;
		}
#div3{
		position:relative;
		top: -30px;
		background-color: white;
		width: 980px;
		margin: 0 auto;
		padding: 0px;
		}
#left{
		float: left;
		}
#div51{
		border-bottom: 2px #CCCCCC solid;
		margin: 10px 10px;
		}
#div52{
		height: 60px;
		}
#div53{
		margin: 30px 10px;
		border-bottom: 2px #CCCCCC solid;
		font-family:Georgia, serif;
		font-style:italic;
		font-size: 11px;
		color: gray;
		}
#div53 div{
		font-size: 15px;
		width: 350px;
		position: relative;
		left: 580px;
		margin: 5px;
		}
#div54{
		width: 300px;
		height: 5px;
		position: relative;
		left: 720px;
		bottom: 60px; 
		}
#right{
		float: right; 
		}
#div6{
		position: relative;
		top: -90px;
		right: -430px;
		font-family:Georgia, serif;
		font-style:italic;
		font-size: 11px;
		color: gray;
		margin: 0px;
		}
#div6 div{
		width:400px;
		position: relative;
		top: 10px;
		left: 10px;
		}
#div8{
		clear: both;
		float: left;
		}
#contain p{		
		font-family:Georgia, serif;
		font-size: 1.5em;
		margin: 10px;
		white-space: pre;
		}
#information{
		width: 700px;
		margin: 0px auto;
		}
#arrow{
		width:18px;
		height:15.6px;
		}
#pp{
		font-family:Georgia, serif;
		font-size: 8px;
		color: gray;
		font-style: italic;
		white-space: pre;
		}
#logo2{
		float:left;
		position: relative;
		top:55px;
		}
#button{
		width:175px;
		margin: 0 auto;
		}
select, input{
		width: 200px;
		height: 30px;
		color: gray;
		font-family: Georgia, serif;
		}
p1{
		font-family: Algerian;
		font-size: 2em;
		color: #c7c7c7;
		position: relative;
		left: 10px;
		top: -12px;
		}
p2{
		margin: 0px;
		font-family: Algerian;
		font-style: italic;
		font-size: 5em;
		color: white;
		position: relative;
		right: -30px;
		top: 10px;
		}
.p3{
		font-family: Georgia, serif;
		font-size: 1.5em;
		color: white;
		font-style: italic;
		position: relative;
		text-indent:1em;
		top: 100px;
		left: 630px;
		width: 500px;
		}
p4 {
		font-size: 1.5em;
		color: #AA0000;
		margin: 0px;
		}
p5{
		font-family: Georgia, serif;
		font-size: 1.5em;
		margin: 0px;
		}
p6 {
		font-size: 1em;
		color: #AA0000;
		margin: 0px;
		}
button{
		background-color: white;
		border: 1px white solid;
		}
.logo {
		width: 162px;
		height: 54px;
		}
.img4{
		width: 40px;
		height: 170.333px;
		}
.img5{
		width: 900px;
		height: 40px;
		}
.img51{
		width: 980px;
		height: 40px;
		}
.alert{
		width: 1.5em;
		height: 1.5em;
		position: relative;
		top: 30px;
		right: 15px;
		}
.upfile{
		position: relative;
		bottom: 110px;
		left: 100px;
		}
.summary{
		font-family: Georgia, serif;
		font-size: 16px;
		color: gray;
		position: relative;
		bottom: 20px;
		}