<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="php" path="*.php" verb="*" modules="IsapiModule" scriptProcessor="D:\PHP\php5isapi.dll" resourceType="Unspecified" preCondition="bitness32" />
        </handlers>
        <directoryBrowse enabled="true" showFlags="Size" />
        <defaultDocument>
            <files>
                <add value="test.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
